### Bedtools Post Hoc Analysis

In [41]:
import pandas as pd
import math
import scipy
import numpy as np
import pyranges as pr

In [42]:
df = pr.read_bed('all_bed/HG00551_intersect.bed', as_df=True)
df

       Chromosome     Start       End Name      Score     Strand   ThickStart
0               1   1725261   1986583  EUR   0.469411   8.010305    seg740857
1               1   1725261   1892043  EUR   0.469411   8.010305    seg740857
2               1   1105469   1225267  EUR   0.469411   8.010305    seg740857
3               1   2235378   2615407  EUR   0.469411   8.010305    seg740857
4               1   2245540   2803800  EUR   0.469411   8.010305    seg740857
...           ...       ...       ...  ...        ...        ...          ...
13214          22  50115088  51219006  EUR  48.388895  75.116298  seg39449503
13215          22  40855145  42164108  EUR  48.388895  75.116298  seg39449503
13216          22  49880365  51219006  EUR  48.388895  75.116298  seg39449503
13217          22  39449503  44599923  EUR  48.388895  75.116298  seg39449503
13218          22  49839897  51219006  EUR  48.388895  75.116298  seg39449503

[13219 rows x 7 columns]

In [43]:
ancestry = {'AFR': 0,'EUR': 1, 'NAT':3, 'UNK': 4}
df.Name = [ancestry[item] for item in df.Name]

In [47]:
df['ThickStart'] = df['ThickStart'].map(lambda x: x.lstrip('seg'))
df['ThickStart'] = pd.to_numeric(df['ThickStart'])

In [49]:
df['Ances_Switch'] = df['Name'].diff()
df['IBD_Switch'] = df['ThickStart'].diff()

In [53]:
if (df['Ances_Switch'] != 0) & (df['IBD_Switch'] == 0):
    print('Chromosome: ', df['Chromosome'], ', Start: ', df['Start'], ', End: ', df['End'], ', Ancestry: ', df['Name'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [54]:
df['Ances_Switch'] != 0

0         True
1        False
2        False
3        False
4        False
         ...
13214    False
13215    False
13216    False
13217    False
13218    False
Name: Ances_Switch, Length: 13219, dtype: bool